.shop-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.shop-btn {
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  color: black;
  width: 100%;
  height: 100%;

  &.pickaxe {
    margin-right: 15px;
  }

  &:hover {
    background-color: #ccc;
  }
}
@media (max-width: 800px) {
  .shop-btn {
    font-size: 16px;
  }
  @media (min-height: 800px) {
    .shop-btn {
      font-size: 20px;
    }
  }
  @media (max-width: 500px) {
    .shop-list {
      flex-direction: column;
      justify-content: center;
    }
    .shop-btn.pickaxe {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
@media (max-height: 800px) {
  .shop-btn {
    font-size: 20px;
  }
}
@media (max-height: 450px) {
  .shop-btn {
    font-size: 12px;
  }
}