@font-face {
  font-family:"Minecraft Regular";
  src:url("1_Minecraft-Regular.eot?") format("eot"),
  url("1_Minecraft-Regular.woff") format("woff"),
  url("1_Minecraft-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

* {
  font-size: 30px;
  font-family: "Minecraft Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("bg.jpg");
  background-blend-mode: multiply;
  background-size: cover;
}

.app {
  margin: 0 15px 0 15px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid black;
  background-color: rgba(255,255,255,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: space-around;
}
@media (max-width: 800px) {
  * {
    font-size: 16px;
  }
}
@media (max-height: 500px) {
  @media (max-width: 900px) {
    * {
      font-size: 16px;
    }
  }
  .app {
    height: 90vh;
  }
}